@font-face {
  font-family: 'DMSans';
  src: url('../fonts/DMSans/DMSans-Regular.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'DMSans';
  src: url('../fonts/DMSans/DMSans-Bold.ttf');
  font-weight: 700;
}

:root {
  --fadeShowTime: 1500ms;
  --fadeDownTime: 1500ms;
  --fadeLeftTime: 200ms;
}

* {
  box-sizing: border-box;
  font-family: DMSans;
  transition: all 200ms ease-in-out;
  user-select: none;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #2F1893;
}

/* Header */
header {
  min-height: 100vh;
  background: url("../images/header-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.header-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-menu #dribbble::after {
  content: url('../images/fa-dribbble.png');
}

.header-menu #behance::after {
  content: url('../images/fa-behance.png');
}

.header-menu {
  padding-top: 84px;
}

.header-menu a {
  margin: 0 44px;
  color: white;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  word-wrap: break-word;
  text-decoration: none;
}

.header-menu a:hover,
.header-menu .active {
  opacity: 30%;
}

.slider {
  position: relative;
  margin-top: 122px;
  height: 40vh;
  text-align: center;
  color: white;
  animation: fadeShow var(--fadeShowTime) ease-in-out;
}

.slider .slide .sub-title {
  font-weight: 700;
  font-size: 24px;
  display: inline;
}

.slider .slide .title {
  font-weight: 700;
  margin: 25px auto !important;
  font-size: 72px;
}

.slider .slide .text {
  font-size: 22px;
  font-weight: 500;
  width: 60%;
  margin: auto;
}

.slider .dots {
  margin: 40px auto;
}

.slider .dots span {
  cursor: pointer;
}

.slider .dots span::after {
  content: url("../images/fa-circle-o.png");
}

.slider .dots span:hover {
  opacity: 30%;
}

.slider .dots span.active::after {
  content: url("../images/fa-circle.png");
  animation: fadeShow var(--fadeShowTime) ease-in-out;
}

.slider .left {
  position: absolute;
  height: 100%;
  left: 100px;
  display: flex;
  align-items: center;
  padding: 30px;
  cursor: pointer;
}

.slider .left span::after {
  content: url("../images/fa-angle-left.png");
}

.slider .right {
  position: absolute;
  height: 100%;
  right: 100px;
  display: flex;
  align-items: center;
  padding: 30px;
  cursor: pointer;
}

.slider .right span::after {
  content: url("../images/fa-angle-right.png");
}

.slider .left:hover,
.slider .right:hover {
  opacity: 30%;
}

.slides-container {
  display: flex;
  overflow-y: auto;
  width: 80%;
  margin: auto;
}

.slider .slide {
  display: none;
}

.slider .slide.active {
  animation: fadeShow var(--fadeShowTime) ease-in-out;
  display: block;
}

.call-to-action-container {
  margin-top: 80px;
  text-align: center;
  animation: fadeUp var(--fadeShowTime) ease-in-out;
}

.call-to-action {
  background-color: #482BE7;
  color: white;
  font-size: 18px;
  border-radius: 100px;
  padding: 17px 35px;
  cursor: pointer;
}

.call-to-action:hover {
  background-color: #3c1fdb;
}

/* End Header */

/* Content */

#content {
  min-height: 63vh;
  background: url("../images/content.png");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#content .content-place-holder {
  width: 66.66666%;
}

#content .tiny-title {
  margin: 0;
  color: white;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
}

#content h1 {
  color: white;
  font-size: 58px;
  font-weight: 700;
}

#content .text {
  color: white;
  font-size: 18px;
  font-weight: 500;
}

/* End Content */


/* Start Vertical slider */

#vertical-slider {
  min-height: 100vh;
  background: url("../images/vertical-slider.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
}

.vertical-slider-container {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  width: 100%;
  padding: 115px;
}

#vertical-slider .dots {
  margin: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: end;
}

#vertical-slider .dots span {
  cursor: pointer;
}

#vertical-slider .dots span::after {
  content: url("../images/fa-circle-o.png");
}

#vertical-slider .dots span:hover {
  opacity: 30%;
}

#vertical-slider .dots span.active::after {
  content: url("../images/fa-circle.png");
  animation: fadeShow var(--fadeShowTime) ease-in-out;
}

.vertical-slider-container .slides {
  width: 91.7%;
}

.vertical-slider-container .slide,
.vertical-slider-container .slide-vertical {
  width: 100%;
}

.vertical-slider-container .slide-vertical {
  display: flex;
  width: 100%;
}

.vertical-slider-container .section-1 {
  width: 36%;
  position: relative;
}

.vertical-slider-container .section-1 img {
  position: absolute;
  right: 214px;
  height: 100%;
  width: 100%;
}

.vertical-slider-container .section-2 {
  width: 54%;
  color: white;
}

.vertical-slider-container .section-2 h3 {
  font-size: 42px;
  font-weight: 700;
}

.vertical-slider-container .section-2 .main-text {
  font-size: 22px;
  font-weight: 500;
}

.vertical-slider-container .section-2 .icons-section {
  width: 100%;
  display: flex;
}

.vertical-slider-container .section-2 .icon-1 {
  width: 50%;
}

.vertical-slider-container .section-2 .icon-2 {
  width: 50%;
}

.vertical-slider-container .section-2 .icon-1 .icon::before {
  content: url("../images/fa-commenting-o.png");
}

.vertical-slider-container .section-2 .icon-2 .icon::before {
  content: url("../images/fa-dimond.png");
}

.vertical-slider-container .section-2 .icon-1 {
  padding-top: 60px;
}

.vertical-slider-container .section-2 .icon-2 {
  padding-top: 60px;
}


.vertical-slider-container .section-2 .icon-1 .title,
.vertical-slider-container .section-2 .icon-2 .title {
  padding-top: 29px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.vertical-slider-container .section-2 .icon-1 .text,
.vertical-slider-container .section-2 .icon-2 .text {
  padding-top: 16.2px;
  font-size: 16px;
  font-weight: 400;
  padding-right: 35px;
}

.slide-vertical {
  display: none !important;
}

.active-slide-vertical {
  display: flex !important;
  animation: fadeDown var(--fadeDownTime) ease-in-out;
}

/* End Vertical Slider */

/* Start Login Form */

#login {
  min-height: 100vh;
  background: url('../images/login.png');
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  width: 100%;
}

#login .container {
  margin: 0 auto;
  display: flex;
  width: 83.3333%;
  align-items: center;
  justify-content: space-around;
  min-height: 100vh;
}

#login .text-section {
  color: white;
  width: 40%;
}

#login .text-section h2 {
  font-size: 42px;
  font-weight: 700;
  width: 80%;
}

#login .text-section p {
  font-size: 16px;
  font-weight: 400;
  width: 80%;
}

#login .form-section {
  width: 50%;
}

#login .form-section .form {
  background-color: white;
  border-radius: 15px;
  width: 80%;
  padding-bottom: 80px;
  overflow: hidden;
}

#login .form-section .tabs {
  color: #1E0E62;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: flex;
  position: relative;
  margin-bottom: 60px;
}

#login .form-section .tab {
  width: 50%;
  padding: 24px;
  text-align: center;
  cursor: pointer;
}

#login .form-section .tab:hover {
  background-color: rgba(0, 0, 0, 0.03);
}

#login .form-section .tabs .border {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  background-color: #1E0E62;
  width: 50%;
  height: 2px;
  position: absolute;
  bottom: 0;
}

#login .form-section .tabs .border.left {
  transform: translateX(0%);
}

#login .form-section .tabs .border.right {
  transform: translateX(100%);
}

#login .form-container {
  width: 60%;
  margin: auto;
  display: none;
}

.show{
  display: block !important;
}

#login input[type=text] {
  height: 50px;
  border-radius: 100px;
  border: 2px #EBEAED solid;
  width: 100%;
  padding: 12px 24px;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 30px;
}

#login input[type=text]:focus {
  outline: #cacaca solid 1px !important;
}

#login .main-btn {
  background-color: #25DAC5;
  width: 100%;
  text-align: center;
  padding: 12px;
  border-radius: 100px;
  margin-top: 20px;
  border: 0;
  cursor: pointer;
  color: white;
  font-size: 18px;
  font-weight: 500;
}

#login .main-btn:hover {
  background-color: #1fc6b2;
}

#login .divider {
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px;
  align-items: center;
  justify-content: space-between;
  color: #a3a3a3;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

#login .divider .line {
  display: block;
  width: 40%;
  height: 1px;
  background-color: #cacaca;
}

#login .second-btn {
  display: block;
  background-color: #1DA1F2;
  width: 100%;
  text-align: center;
  padding: 12px;
  border-radius: 100px;
  border: 0;
  cursor: pointer;
  color: white;
  font-size: 18px;
  font-weight: 500;
}

#login .second-btn:hover {
  background-color: #1489d2;
}

.fade-left {
  animation: fadeLeft var(--fadeLeftTime) ease-in-out;
}

.fade-right {
  animation: fadeRight var(--fadeLeftTime) ease-in-out;
}

/* End Login Form */

/* Animations */
@keyframes fadeShow {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes fadeDown {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes fadeLeft {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes fadeRight {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

/* End Animations */