@font-face {
  font-family: 'DMSans';
  src: url('../fonts/DMSans/DMSans-Light.ttf');
  font-weight: 400
}

@font-face {
  font-family: 'DMSans';
  src: url('../fonts/DMSans/DMSans-Regular.ttf');
  font-weight: normal
}

@font-face {
  font-family: 'DMSans';
  src: url('../fonts/DMSans/DMSans-Bold.ttf');
  font-weight: 700
}

:root {
  --fadeShowTime: 1500ms;
  --fadeDownTime: 1500ms;
  --fadeLeftTime: 300ms
}

* {
  box-sizing: border-box;
  font-family: DMSans;
  transition: all 200ms ease-in-out;
  user-select: none;
  scroll-behavior: smooth
}

a {
  text-decoration: none
}

body {
  margin: 0;
  background-color: #2F1893
}

input:not(input[type=checkbox]),
select,
textarea {
  height: 50px;
  border-radius: 100px;
  border: 2px #EBEAED solid;
  width: 100%;
  padding: 12px 24px;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 30px;
  color: #1E0E62;
  font-size: 18px;
  font-weight: 500
}

textarea {
  border-radius: 10px !important;
  height: auto
}

input:focus,
select:focus,
textarea:focus {
  outline: #cacaca solid 1px !important
}

select {
  cursor: pointer
}

input[type=checkbox] {
  height: 20px;
  width: 20px;
  cursor: pointer;
  accent-color: #25DAC5 !important
}

label {
  cursor: pointer
}

.primary-btn {
  padding: 12px 38px;
  background-color: #25DAC5;
  color: white;
  border: 0;
  border-radius: 100px;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  cursor: pointer
}

.primary-btn:hover {
  background-color: #19c2ae
}

header {
  min-height: 100vh;
  background: url("../images/header.webp");
  background-repeat: no-repeat;
  background-size: cover
}

.header-menu {
  display: flex;
  justify-content: center;
  align-items: center
}

.header-menu #dribbble::after {
  content: url('../images/fa-dribbble.webp')
}

.header-menu #behance::after {
  content: url('../images/fa-behance.webp')
}

.header-menu {
  padding-top: 84px
}

.header-menu a {
  margin: 0 44px;
  color: white;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  word-wrap: break-word;
  text-decoration: none
}

.header-menu a:hover,
.header-menu .active {
  opacity: 30%
}

.slider {
  position: relative;
  margin-top: 122px;
  height: 40vh;
  text-align: center;
  color: white;
  animation: fadeShow var(--fadeShowTime) ease-in-out
}

.slider .slide .sub-title {
  font-weight: 700;
  font-size: 24px;
  display: inline
}

.slider .slide .title {
  font-weight: 700;
  margin: 25px auto !important;
  font-size: 72px
}

.slider .slide .text {
  font-size: 22px;
  font-weight: 500;
  width: 60%;
  margin: auto
}

.slider .dots {
  margin: 40px auto
}

.slider .dots span {
  cursor: pointer
}

.slider .dots span::after {
  content: url("../images/fa-circle-o.webp")
}

.slider .dots span:hover {
  opacity: 30%
}

.slider .dots span.active::after {
  content: url("../images/fa-circle.webp");
  animation: fadeShow var(--fadeShowTime) ease-in-out
}

.slider .left {
  position: absolute;
  height: 100%;
  left: 100px;
  display: flex;
  align-items: center;
  padding: 30px;
  cursor: pointer
}

.slider .left span::after {
  content: url("../images/fa-angle-left.webp")
}

.slider .right {
  position: absolute;
  height: 100%;
  right: 100px;
  display: flex;
  align-items: center;
  padding: 30px;
  cursor: pointer
}

.slider .right span::after {
  content: url("../images/fa-angle-right.webp")
}

.slider .left:hover,
.slider .right:hover {
  opacity: 30%
}

.slides-container {
  display: flex;
  overflow-y: auto;
  width: 80%;
  margin: auto
}

.slider .slide {
  display: none
}

.slider .slide.active {
  animation: fadeShow var(--fadeShowTime) ease-in-out;
  display: block
}

.call-to-action-container {
  margin-top: 80px;
  text-align: center;
  animation: fadeUp var(--fadeShowTime) ease-in-out
}

.call-to-action {
  background-color: #482BE7;
  color: white;
  font-size: 18px;
  border-radius: 100px;
  padding: 17px 35px;
  cursor: pointer
}

.call-to-action:hover {
  background-color: #3c1fdb
}

#content {
  min-height: 63vh;
  background: url("../images/sample.webp");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center
}

#content .content-place-holder {
  width: 66.66666%
}

#content .tiny-title {
  margin: 0;
  color: white;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px
}

#content h1 {
  color: white;
  font-size: 58px;
  font-weight: 700
}

#content .text {
  color: white;
  font-size: 18px;
  font-weight: 500
}

#vertical-slider {
  min-height: 100vh;
  background: url("../images/features.webp");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center
}

.vertical-slider-container {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  width: 100%;
  padding: 115px
}

#vertical-slider .dots {
  margin: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: end
}

#vertical-slider .dots span {
  cursor: pointer
}

#vertical-slider .dots span::after {
  content: url("../images/fa-circle-o.webp")
}

#vertical-slider .dots span:hover {
  opacity: 30%
}

#vertical-slider .dots span.active::after {
  content: url("../images/fa-circle.webp");
  animation: fadeShow var(--fadeShowTime) ease-in-out
}

.vertical-slider-container .slides {
  width: 91.7%
}

.vertical-slider-container .slide,
.vertical-slider-container .slide-vertical {
  width: 100%
}

.vertical-slider-container .slide-vertical {
  display: flex;
  width: 100%
}

.vertical-slider-container .section-1 {
  width: 36%;
  position: relative
}

.vertical-slider-container .section-1 img {
  position: absolute;
  right: 214px;
  height: 100%;
  width: 100%
}

.vertical-slider-container .section-2 {
  width: 54%;
  color: white
}

.vertical-slider-container .section-2 h3 {
  font-size: 42px;
  font-weight: 700
}

.vertical-slider-container .section-2 .main-text {
  font-size: 22px;
  font-weight: 500
}

.vertical-slider-container .section-2 .icons-section {
  width: 100%;
  display: flex
}

.vertical-slider-container .section-2 .icon-1 {
  width: 50%
}

.vertical-slider-container .section-2 .icon-2 {
  width: 50%
}

.vertical-slider-container .section-2 .icon-1 .icon::before {
  content: url("../images/fa-commenting-o.webp")
}

.vertical-slider-container .section-2 .icon-2 .icon::before {
  content: url("../images/fa-dimond.webp")
}

.vertical-slider-container .section-2 .icon-1 {
  padding-top: 60px
}

.vertical-slider-container .section-2 .icon-2 {
  padding-top: 60px
}

.vertical-slider-container .section-2 .icon-1 .title,
.vertical-slider-container .section-2 .icon-2 .title {
  padding-top: 29px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px
}

.vertical-slider-container .section-2 .icon-1 .text,
.vertical-slider-container .section-2 .icon-2 .text {
  padding-top: 16.2px;
  font-size: 16px;
  font-weight: 400;
  padding-right: 35px
}

.slide-vertical {
  display: none !important
}

.active-slide-vertical {
  display: flex !important;
  animation: fadeDown var(--fadeDownTime) ease-in-out
}

#login {
  min-height: 100vh;
  background: url('../images/login.webp');
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  width: 100%
}

#login .container {
  margin: 0 auto;
  display: flex;
  width: 83.3333%;
  align-items: center;
  justify-content: space-around;
  min-height: 100vh
}

#login .text-section {
  color: white;
  width: 40%
}

#login .text-section h2 {
  font-size: 42px;
  font-weight: 700;
  width: 80%
}

#login .text-section p {
  font-size: 16px;
  font-weight: 400;
  width: 80%
}

#login .form-section {
  width: 50%
}

#login .form-section .form {
  background-color: white;
  border-radius: 15px;
  width: 80%;
  padding-bottom: 80px;
  overflow: hidden
}

#login .form-section .tabs {
  color: #1E0E62;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: flex;
  position: relative;
  margin-bottom: 60px
}

#login .form-section .tab {
  width: 50%;
  padding: 24px;
  text-align: center;
  cursor: pointer
}

#login .form-section .tab:hover {
  background-color: rgba(0, 0, 0, .03)
}

#login .form-section .tabs .border {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  background-color: #1E0E62;
  width: 50%;
  height: 2px;
  position: absolute;
  bottom: 0
}

#login .form-section .tabs .border.left {
  transform: translateX(0%)
}

#login .form-section .tabs .border.right {
  transform: translateX(100%)
}

#login .form-container {
  width: 60%;
  margin: auto;
  display: none
}

.show {
  display: block !important
}

#login .main-btn {
  background-color: #25DAC5;
  width: 100%;
  text-align: center;
  padding: 12px;
  border-radius: 100px;
  margin-top: 20px;
  border: 0;
  cursor: pointer;
  color: white;
  font-size: 18px;
  font-weight: 500
}

#login .main-btn:hover {
  background-color: #1fc6b2
}

#login .divider {
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px;
  align-items: center;
  justify-content: space-between;
  color: #a3a3a3;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px
}

#login .divider .line {
  display: block;
  width: 40%;
  height: 1px;
  background-color: #cacaca
}

#login .second-btn {
  display: block;
  background-color: #1DA1F2;
  width: 100%;
  text-align: center;
  padding: 12px;
  border-radius: 100px;
  border: 0;
  cursor: pointer;
  color: white;
  font-size: 18px;
  font-weight: 500
}

#login .second-btn:hover {
  background-color: #1489d2
}

.fade-left {
  animation: fadeLeft var(--fadeLeftTime) ease-in-out
}

.fade-right {
  animation: fadeRight var(--fadeLeftTime) ease-in-out
}

.fade-down {
  animation: fadeDown var(--fadeLeftTime) ease-in-out
}

#happyClients {
  min-height: 100vh;
  padding-bottom: 60px
}

#happyClients .container {
  padding-top: 80px;
  margin: auto;
  width: 73.333%;
  min-height: 100vh;
  color: white
}

#happyClients .container h4 {
  font-size: 42px;
  font-weight: 700
}

.testimonials {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto
}

#happyClients .container .testimonial {
  width: 48%;
  min-height: 237px;
  left: 0;
  top: 0;
  border-radius: 10px;
  border: 2px rgba(255, 255, 255, .115) solid;
  padding: 35px 28px;
  display: flex;
  margin-bottom: 40px
}

#happyClients .container .testimonial .icon span {
  height: 70px;
  width: 70px;
  display: block;
  border-radius: 10px
}

#happyClients .container .testimonial .content {
  display: flex;
  flex-direction: column;
  justify-content: space-between
}

#happyClients .container .testimonial .content p {
  font-size: 18px;
  font-weight: 500;
  margin: 0;
  padding-left: 30px
}

#happyClients .container .testimonial .content span {
  padding-left: 30px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 15px;
  display: block;
  opacity: 30%
}

#callToAction {
  min-height: 76vh;
  background: url('../images/get-started.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  color: white;
  text-align: center
}

#callToAction .container {
  margin: auto;
  width: 35%
}

#callToAction .container h5 {
  font-size: 58px;
  font-weight: 700;
  padding-top: 80px;
  margin: 0;
  margin-bottom: 40px
}

#callToAction .container p {
  font-size: 22px;
  font-weight: 500;
  margin: 0
}

#callToAction .container .buttons {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  align-items: center
}

#callToAction .container .buttons .play {
  width: 70px;
  height: 70px;
  background-color: #EA3223;
  border-radius: 100px;
  cursor: pointer
}

#callToAction .container .buttons .play:hover {
  background-color: #cd2e1f
}

#callToAction .container .buttons .play::before {
  content: url('../images/play.webp');
  vertical-align: -130%
}

#callToAction .container .buttons .getStarted {
  display: flex;
  align-items: center;
  height: 70px;
  background-color: #1fc6b2;
  padding-right: 50px !important;
  padding-left: 50px !important;
  border-radius: 100px;
  margin-left: 30px;
  cursor: pointer
}

#callToAction .container .buttons .getStarted:hover {
  background-color: #159f8f
}

#showCase {
  min-height: 100vh;
  padding-top: 20px
}

#showCase .container {
  width: 75%;
  margin: auto;
  color: white
}

#showCase .heading {
  display: flex;
  align-items: center;
  justify-content: space-between
}

#showCase .heading h5 {
  font-size: 42px;
  font-weight: 700
}

#showCase .heading .allWorks {
  font-size: 18px;
  font-weight: 500;
  border: 2px rgba(255, 255, 255, .3) solid;
  padding: 11px 24px;
  border-radius: 100px;
  cursor: pointer
}

#showCase .heading .allWorks:hover {
  border: 2px rgba(255, 255, 255, .8) solid
}

#showCase .work-cases {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between
}

#showCase .work-single-case {
  width: 48%;
  text-align: center;
  margin-bottom: 74px
}

#showCase .work-single-case img {
  width: 100%;
  border-radius: 10px
}

#showCase .work-single-case .category {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 30px;
  margin-bottom: 0
}

#showCase .work-single-case .title {
  font-size: 22px;
  font-weight: 500;
  margin-top: 10px
}

#teams {
  min-height: 100vh;
  padding-top: 20px;
  width: 75%;
  margin: auto;
  padding-bottom: 70px
}

#teams .container {
  width: 69%;
  color: white
}

#teams .heading h5 {
  font-size: 42px;
  font-weight: 700;
  margin: 0
}

#teams .cards {
  margin-top: 70px;
  display: flex;
  flex-wrap: wrap
}

#teams .cards .card {
  width: 33%;
  margin-bottom: 70px
}

#teams .card .profile {
  width: 100px;
  height: 100px;
  border-radius: 100px
}

#teams .card .name {
  font-size: 22px;
  font-weight: 500;
  margin-top: 17px;
  margin-bottom: 4px
}

#teams .card .position {
  font-size: 22px;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 400
}

#teams .card .social a {
  margin-right: 20px;
  cursor: pointer
}

#contact {
  color: white;
  min-height: 100vh;
  background: url('../images/contact.webp');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover
}

#contact .container {
  width: 75%;
  margin: auto;
  min-height: 100vh;
  display: flex;
  justify-content: space-around
}

#contact h5 {
  color: white;
  font-size: 42px;
  font-weight: 700;
  padding-top: 120px;
  margin: 0
}

#contact .section-1 {
  width: 37%
}

#contact .section-1 p {
  margin-top: 28px;
  color: white;
  font-size: 22px;
  font-weight: 500
}

#contact .section-1 span {
  color: white;
  font-size: 16px;
  font-weight: 400;
  margin: 44px 0;
  display: block
}

#contact .section-1 .phone::before {
  content: url('../images/fa-phone.webp');
  margin-right: 15px
}

#contact .section-1 .email::before {
  content: url('../images/fa-envelope.webp');
  margin-right: 15px
}

#contact .section-1 .address::before {
  content: url('../images/fa-building-o.webp');
  margin-right: 15px
}

#contact .section-1 a {
  color: white
}

#contact .section-2 {
  width: 41%
}

#contact form {
  margin-top: 100px;
  background-color: white;
  padding: 58px 50px;
  border-radius: 10px
}

#contact form label {
  color: #1E0E62;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px;
  display: block
}

.inputs-group {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap
}

.inputs-group .yourname {
  width: 55%
}

.inputs-group .budget {
  width: 40%
}

.inputs-group .email {
  width: 100%
}

.inputs-group .message {
  width: 100%
}

.submit {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between
}

.checkbox-group {
  display: flex;
  align-items: center !important
}

.checkbox-group label {
  color: rgba(21.06, 20.34, 56.79, .40) !important;
  font-size: 16px;
  margin: 0 !important;
  padding-left: 8px
}

#pricing {
  min-height: 100vh;
  background: url('../images/bg-pricing.webp');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding-bottom: 100px
}

#pricing .container {
  width: 75%;
  margin: auto
}

#pricing h5 {
  text-align: center;
  padding-top: 100px;
  margin: 0;
  font-size: 42px;
  font-weight: 700;
  line-height: 52px
}

#pricing .text {
  text-align: center;
  font-size: 22px;
  font-weight: 500;
  width: 50%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 54px
}

#price-cards {
  display: flex;
  justify-content: space-between
}

#price-cards .price-card {
  width: 31%;
  border-radius: 10px;
  padding: 44px 66px 44px 56px;
  border: 2px rgba(255, 255, 255, .2) solid
}

.price-card h6 {
  padding: 0 27px;
  font-size: 22px;
  font-weight: 500;
  margin: 0
}

.price-card .price {
  padding: 0 27px;
  font-size: 58px;
  font-weight: 700;
  line-height: 70px;
  word-wrap: break-word;
  position: relative;
  display: inline-block;
  margin-top: 26px;
  margin-bottom: 44px
}

.price-card .price sup {
  position: absolute;
  right: 15px;
  top: -20px;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 20px
}

.price-card .features span {
  font-size: 16px;
  font-weight: 400;
  display: block;
  margin-bottom: 14px
}

.price-card .features span:hover {
  padding-left: 6px
}

.price-card .features span::before {
  content: url('../images/check-Icon.webp');
  width: 12px;
  height: auto;
  margin-right: 15px
}

.price-card .features .uncheck {
  padding-left: 27px;
  opacity: .7
}

.price-card .features .uncheck:hover {
  padding-left: 33px
}

.price-card .features .uncheck::before {
  display: none
}

.price-card .get-started {
  display: block;
  width: 100%;
  padding: 17px 0;
  border-radius: 120px;
  border: 2px rgba(255, 255, 255, .3) solid;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  color: white;
  text-decoration: none;
  margin-top: 30px;
  margin-bottom: 26px
}

.price-card .get-started:hover {
  border: 2px #E93A7D solid !important;
  background-color: #E93A7D !important
}

.price-card .active {
  border: 2px #E93A7D solid !important;
  background-color: #E93A7D !important
}

.price-card .active:hover {
  border: 2px #b6245c solid !important;
  background-color: #b6245c !important
}

footer {
  color: white
}

footer .upper-section {
  padding-top: 54px;
  padding-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 75%;
  margin: auto
}

footer .upper-section h6 {
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -.293px;
  margin: 0
}

footer .upper-section a {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  color: white;
  margin-left: 27px
}

footer hr {
  width: 75%;
  margin: auto;
  opacity: .3
}

footer .lower-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 75%;
  margin: auto;
  padding-top: 47px;
  padding-bottom: 40px
}

footer .lower-section a {
  color: white;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin-right: 29px;
  text-decoration: none
}

footer .copy-right {
  font-size: 16px;
  font-style: normal;
  font-weight: 400
}

footer .copy-right a {
  margin: 0
}

footer a:hover {
  opacity: .7
}

@keyframes fadeShow {
  0% {
    opacity: 0
  }

  100% {
    opacity: 1
  }
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(100px)
  }

  100% {
    opacity: 1;
    transform: translateY(0)
  }
}

@keyframes fadeDown {
  0% {
    opacity: 0;
    transform: translateY(-100px)
  }

  100% {
    opacity: 1;
    transform: translateY(0)
  }
}

@keyframes fadeLeft {
  0% {
    opacity: 0;
    transform: translateX(100%)
  }

  100% {
    opacity: 1;
    transform: translateX(0)
  }
}

@keyframes fadeRight {
  0% {
    opacity: 0;
    transform: translateX(-100%)
  }

  100% {
    opacity: 1;
    transform: translateX(0)
  }
}